.container{
  background-color: var(--gray-500);

  height: 100vh;
  padding: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content{
  background-color: var(--main-color);

  width: 1200px;
  height: 100%;
  padding: 16px;
  
  border-radius: 12px;
}