.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 12px;

  background-color: var(--main-color);
}


.header nav{
  display: flex;
  gap: 16px;
  padding: 8px;
}

.header nav a{
  padding: 12px;

  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  border-radius: 20px;
}

.header nav a:hover{
  background-color: var(--hover-color);
  transition: 0.2s;
}

.searchBar input{
  width: 400px;
  padding: 8px 12px 8px 12px;
  font-size: 1.25rem;

  border-radius: 20px;
  border: 1px solid var(--gray-500);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}